* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  overscroll-behavior: none;
  font-size: 1.25rem;
}

@media (max-width: 767px) {
  body {
    font-size: 4.5vw;
  }
}

.body-container {
  max-width: 1440px;
  margin: auto;
}

@media (max-width: 767px) {
  .body-container {
    width: 85vw;
  }
}